* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bcc;
}
.u-center {
    &-text {
        display: inline-block;
        margin: auto;
    }
}
.u-margin {
    &-big {
        margin: 3rem;
    }
    &-top-big {
        margin-top: 3rem;
    }
    &-bottom-big {
        margin-bottom: 3rem;
    }
    &-small {
        margin: 2rem;
    }
}

@media screen and (max-width: 750px) {
    body,
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 500px) {
    body,
    html {
        font-size: 7px;
    }
}

@media screen and (max-width: 400px) {
    body,
    html {
        font-size: 6px;
    }
}
